@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
  margin: 0;
  padding: 0;
}

.nav{
  width: 30%;
  height: 5em;
  
  position: fixed;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
  
  display: flex;
  align-items: center;
  justify-content: space-around;

  opacity: .3;
  transition: opacity .5s;
}

.nav:hover{
  opacity: 1;
}

.colors{
  width: 15em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.clr{
  height: 2em;
  width: 2em;

  border: .1rem solid silver;
  border-radius: 3em;

  transition: transform .5s;
}

.clr:hover{
  transform: scale(1.2);
}

.clr:nth-child(1){
  background-color: #000;
}
.clr:nth-child(2){
  background-color: #EF626C;
}
.clr:nth-child(3){
  background-color: #24d102;
}
.clr:nth-child(4){
  background-color: #1e90ff;
}
.clr:nth-child(5){
  background-color: #fdec03;
}
.clr:nth-child(6){
  background-color: #fff;
}

.eraser{
  width: 2em;
  height: 2em;

}

.ersr{
  min-width: 2em;
  max-width: 2em;
  
  min-height: 2em;
  max-height: 2em;
  
  background-image: url('./../res/eraser.jpg');
  background-size: cover;

  transition: transform .5s;
  /* background: red; */
  /* border: 1px solid black; */
}

.ersr:hover{
  transform: scale(1.2);
}

button{
  border: none;
  outline: none;
  
  padding: .5em 1em;
  
  border-radius: 1em;

  font-size: 1.25em;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.buttons button{
  transition: transform .5s;
}

.buttons button:hover{
  font-weight: bold;
  transform: scale(1.1);
}

button.clear{
  background: red;
}

button.save{
  background: dodgerblue;
}

.special_btn{
  position: absolute;
  bottom: 2em;
  right: 2em;
}

button#theme-btn{
  border: none;
  outline: none;

  color: white;
  background: black;
}

#theme-btn:hover{
  cursor: pointer;
}